::ng-deep {
    #legend {
        height: 400px;
        width: 450px;
        position: absolute;
    }
    #container {
        display: flex;
        justify-content: space-between;
    }
    .notepad {
        white-space: pre-line;
    }
}